<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
        <title>ID System</title>
    </head>

    <body>
        <div class="navbar">
            <a href="/logout">Logout</a>
            {% if session.role == 'admin' %}
                <a href="/dashboard/admin">Admin Dashboard</a>
            {% endif %}
        </div>

        <div class="dashboard-wrapper first-page">
            <div class="dashboard-header">Hello, {{ session.get('name') }}!</div>

            <img src="{{ url_for('static', filename=session.get('qr')) }}" alt="QR">
        <p style="color:white;"> Last update: {{ct}}</p>
        </div>
    </body>
</html>